body {
    padding: 0px;
    margin: 0px;
    background-color: #E6F3ED;
}

#nav {
    width: 100%;
    height: 60px;
    position: fixed;
    top: 0px;
    background-color: rgba(255, 255, 255, .75);
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
    backdrop-filter: saturate(150%) blur(12px);
    z-index: 2024;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

#nav-left {
    margin-left: 8px;
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
}

#nav-left-logo img {
    width: 40px;
    height: 40px;
}

#nav-left-title {
    margin-left: 8px;
}

#nav-left-menu {
    position: relative;
    margin-left: 16px;
}

#nav-left-menu .container {
    display: flex;
}

#nav-left-menu .container .item {
    margin: 4px 16px;
    transition: color 0.3s ease;
    cursor: pointer;
}

#nav-left-menu .container .item.active {
    font-weight: bold;
    color: #79BD9A;
}

#nav-left-menu .container .item:hover {
    color: #79BD9A;
}

#nav-left-menu-indicator {
    position: absolute;
    left: 12px;
    border-radius: 4px;
    width: 40px;
    height: 8px;
    background-color: #79BD9A;
    transition: left 0.3s ease;
}

#nav-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-container {
    padding-left: 4px;
    display: flex;
    width: 240px;
    height: 40px;
    border: 1px solid #CFD8DC;
    background-color: #ECEFF1;
    border-radius: 8px;
    align-items: center;
    flex-direction: row;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.search-container:hover {
    background-color: #FFF;
}

.search-container.active {
    background-color: #FFF;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

#search-form {
    width: 100%;
    margin-right: 8px;
}

#search-input {
    width: 100%;
    height: 32px;
    font-size: 14px;
    line-height: 36px;
    border-radius: 8px;
    padding-left: 8px;
    background: none;
    border: none;
    outline: none;
    transition: background-color 0.3s ease;
}

#search-input:focus {
    background: #ECEFF1;
}

#search-button {
    height: 36px;
    width: 48px;
    background: none;
    border: none;
    cursor: pointer;
}

.search-icon {
    width: 24px;
    height: 24px;
}

#nav-right {
    display: flex;
}

#nav-right-user {
    padding: 8px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
}

#nav-right-user-head {
    -webkit-user-drag: none;
    -moz-user-drag: none;
    -ms-user-drag: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 8px;
    transition: all 0.3s ease;
    transform-origin: top right;
}

#nav-right-user-head:hover {
    scale: 2;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

#main {
    padding-top: 60px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

#main .module {
    border-radius: 8px;
    background-color: #FFF;
    padding: 16px;
    margin: 8px 0px;
    width: calc(100% - 32px);

}

#main-left {
    width: 20%;
    min-width: 180px;
    max-width: 220px;
    margin: 4px;
}

#main-center {
    height: 100%;
    max-width: 724px;
    min-width: 556px;
    width: 60%;
    margin: 4px;
    padding-top: 8px;
}

#main-right {
    width: 20%;
    min-width: 180px;
    max-width: 220px;
    margin: 4px;
}

@media screen and (max-width: 940px) {
    #main {
        flex-direction: column;
        flex-wrap: wrap;
        height: 100vh;
        align-content: center;
        justify-content: normal;
    }

    #main-center {
        order: 1;
    }

    #main-right {
        margin-top: -12px;
    }
}

#user-info-base,
.people-base {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

#user-info-base .container,
.people-base .container {
    width: calc(100% - 60px);
}

#user-info-head {
    border-radius: 30px;
    margin-right: 8px;
    width: 60px;
    height: 60px;
}

#user-info-name,
.people-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 8px;
    font-size: 16px;
    font-weight: 600;
}

#user-info-vip,
.article .vip {
    width: 32px;
}

#user-info-count {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

#user-info-count .item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#user-info-count .count {
    font-size: 14px;
    font-weight: bold;
}

#user-info-count .title {
    font-size: 12px;
    color: #616161;
}

.module .title {
    font-size: 16px;
    font-weight: bold;
}

#follow-list .people-base {
    margin: 8px 0px;
}

.people-head {
    border-radius: 24px;
    margin-right: 8px;
    width: 48px;
    height: 48px;
}

#follow .people-update-time {
    font-size: 12px;
    color: #616161;
}

#notice .title {
    font-size: 16px;
    font-weight: bold;
}

#notice .time {
    font-size: 12px;
    color: #616161;
}

#notice .content {
    margin-top: 8px;
    font-size: 14px;
    color: #424242;
}

#sort-order {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-end;
    flex-wrap: nowrap;
}

#sort-order .item {
    font-size: 14px;
    color: #424242;
    transition: color 0.3s ease;
    margin-left: 16px;
    cursor: pointer;
}

#sort-order .item:hover {
    color: #79BD9A;
}

#sort-order .item.active {
    color: #79BD9A;
}

.author {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

.author .name {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    height: 28px;
    line-height: 32px;
    margin-top: 0px;
}

.author .vip {
    margin-left: 4px;
    display: none;
}

.badge {
    display: none;
    font-size: 10px;
    line-height: 10px;
    padding: 3px 4px;
    border: 1px solid #000;
    border-radius: 4px;
    background-color: #FFF;
    color: #000;
    margin-left: 0px;
}

.badge.selected {
    border-color: #79BD9A;
    color: #79BD9A;
}

.badge.official {
    border-color: #03A9F4;
    color: #03A9F4;
}

.badge.top {
    border-color: #FF9800;
    color: #FF9800;
}

.author .time {
    font-size: 12px;
    color: #616161;
    margin-left: 0px;
    line-height: 16px;
}

.article {
    position: relative;
}

.article .edit {
    display: none;
    position: absolute;
    top: 16px;
    right: 16px;
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.article .title {
    font-size: 18px;
    font-weight: bold;
    margin-top: 4px;
    transition: color 0.3s ease;
    cursor: pointer;
}

.article .title:hover {
    color: #79BD9A;
}

.article .tag {
    font-size: 12px;
    color: #79BD9A;
    margin: 0px 2px;
    background-color: #E6F3ED;
    padding: 2px 8px;
    height: 20px;
    line-height: 20px;
    border-radius: 10px;
    cursor: pointer;
}

.article .outline {
    font-size: 14px;
    color: #616161;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}

.article .images {
    margin-top: 4px;
    display: flex;
    width: 100%;
    position: relative;
}

.article .images .img {
    width: 100%;
    object-fit: cover;
    margin: 2px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.article .images img {
    display: block;
    width: 100%;
    aspect-ratio: 16 / 9;
    cursor: pointer;
    scale: 1;
    transition: scale 0.3s ease;
}

.article .images img:hover {
    scale: 1.05;
}

.article .more {
    display: none;
    position: absolute;
    right: 8px;
    bottom: 8px;
    background-color: rgba(0, 0, 0, .5);
    color: #FFF;
    font-size: 12px;
    padding: 0px 8px;
    height: 20px;
    line-height: 20px;
    border-radius: 10px;
}

.article .bottom {
    border-top: 1px solid #E0E0E0;
    padding-top: 4px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    margin-top: 4px;
}

.article .bottom .item {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}

.article .item img {
    width: 24px;
}

.article .item .count {
    font-size: 14px;
    color: #515151;
    margin-left: 4px;
}

#article-more {
    font-size: 14px;
    text-align: center;
    cursor: pointer;
    margin-top: 16px;
    transition: color 0.3s ease;
}

#article-more:hover {
    color: #79BD9A;
}

#article-empty {
    font-size: 12px;
    text-align: center;
    margin: 8px;
}

#hot-tags-list {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

#hot-tags-list .item img {
    width: 24px;
    display: inline-block;
}

#hot-tags-list .item {
    margin-top: 8px;
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
}

#hot-tags-list .item .container {
    margin-left: 4px;
}

#hot-tags-list .name {
    font-size: 14px;
    font-weight: bold;
    transition: color 0.3s ease;
    cursor: pointer;
}

#hot-tags-list .name:hover {
    color: #79BD9A;
}

#hot-tags-list .count {
    font-size: 12px;
    color: #616161;
}

.input {
    margin-bottom: 8px;
    width: calc(100% - 12px);
    height: 32px;
    font-size: 14px;
    line-height: 36px;
    border-radius: 8px;
    padding-left: 8px;
    background: #ECEFF1;
    border: none;
    outline: none;
    transition: background-color 0.3s ease;
}

#edit-images {
    min-height: 60px;
    margin-bottom: 4px;
}

#edit-content {
    margin-bottom: 0px !important;
}

textarea {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    resize: none;
    min-height: 120px;
    line-height: 1.5!important;
}

.input:focus {
    background: #E8F5E9;
}

#edit-publish:hover {
    color: #FFF;
    background-color: #79BD9A !important;
}

#edit-update:hover {
    color: #FFF;
    background-color: #2196F3 !important;
}

#edit-delete:hover {
    color: #FFF;
    background-color: #F44336 !important;
}

.module.button {
    background-color: #FFF;
    text-align: center;
    font-weight: bold;
    transition: all 0.3s ease;
    cursor: pointer;
}